<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="mainTitle">CURSOS</div>

<!------GENERAL ACTIONS------>
<div class="divDGAs" id="DGAsCourses">
    <div class="divDGA divDGAm" id="DGAcreateCourse">
        <i class="fa-regular fa-square-plus"></i>
        <div class="DGAinfo">
            Crear curso
        </div>        
    </div>
    <div class="divDGA divDGAm" id="DGAeventsCalendar">
        <i class="fa-solid fa-calendar-days"></i>
        <div class="DGAinfo">
            Calendario de eventos
        </div>        
    </div>
    <div class="divDGA divDGAm" id="DGAeventsHistory">
        <i class="fa-regular fa-folder-open"></i>
        <div class="DGAinfo">
            Historial de eventos
        </div>        
    </div>
    <div class="divDGA divDGAm" id="DGAstudents">
        <i class="fa-solid fa-user-group"></i>
        <div class="DGAinfo">
            Alumnos
        </div>        
    </div>
</div>

<!------MAIN FILTERS------>
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divInput">
            <label class="label1">Curso</label>
            <select class="input1 sxxl" id="filterCourse"></select>            
        </div>
    </div>    
</div>

<!------MAIN CONTENT------>
<div id="divCourses"></div>


<!----------LOADER---------->
<div class="loader" id="coursesLoader"></div>

<%- include('./coursesCreatePopup') %>
<%- include('./coursesCreateEventPopup') %>
<script type="module" src="/js/courses/courses.js"></script>