<!----------Create course popup---------->
<div class="popup" id="ccopp">
    
    <div class="popupContent" id="ccoppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-square-plus"></i></div>
            <div class="popupClose2" id="ccoppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1">CREAR CURSO</div>
        
        <div class="divInputsColumn mtl">
            <div class="divInput">
                <label class="label3" id="ccoppCourseNameLabel">Nombre del curso</label>
                <input type="text" class="input1 ixxl" id="ccoppCourseName">
                <div class="divError" id="ccoppCourseNameError"></div>
            </div>
            <div class="divInput mtm">
                <label class="label3">Descripción</label>
                <input type="text" class="input1 ixxl" id="ccoppCourseDescription">
            </div>
            <div class="divInput mtm">
                <label class="label3">Cupo por default</label>
                <input type="number" class="input1 im" id="ccoppCourseQuota">
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="ccoppAccept" class="button1 bm">Guardar</div>
            <div id="ccoppCancel" class="button1 bm">Cancelar</div>
        </div>

    </div>
</div>

<div class="okPopup" id="ccoppOk">    
    <div class="okContent" id="ccoppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Curso creado con éxito</div>
        </div>
    </div>
</div>