/*---------------------Buttons---------------------*/
.divButtonsRow{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.button1{
    background-color: black;
    text-align: center;
    cursor: pointer;
    color: var(--color1);
    border: none;
    font-weight: bold;
    position: relative;
    transition: background-color 0.6s;
}

.button1:hover{
    background-color: var(--color3);
    color: black;
}

.submitButton{
    background-color: transparent;
    border: none;
}

/*---sizes---*/
.bs{
    font-size: 12px;
    width: 70px;
    padding: 5px 0px;
}

.bl{
    width: 120px;
    padding: 7px 0px;
}