/*-----------------------------general actions-----------------------------*/
.divDGAs{
    display: flex;
    column-gap: 10px;
    position: absolute;    
}

.divDGA{
    border: #000000 solid 3px;    
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.divDGAm{
    font-size: 25px;
}

.divDGA:hover{
    color:var(--color2);
    border: var(--color2) solid 3px;
}

.DGAinfo{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 13px;
    border-radius: 3px;
    top:-25px;
    text-align: center;
    width: 150px;
    color: var(--color2);
    font-weight: bold;
}

.divDGA:hover .DGAinfo{
    display: block;
}

/*specific*/

#DGAsUsers{
    top: 23%;
    right: 8%;
}

#DGAsCourses{
    top: 23%;
    right: 8%;
}