/*-----------------------------general actions-----------------------------*/
.divDGAs{
    display: flex;
    column-gap: 12px;
    position: absolute;    
}

.divDGA{    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    cursor: pointer;
}

.divDGAxxs{
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.divDGAxs{
    height: 25px;
    width: 25px;
    font-size: 25px;
}

.divDGAm{
    height: 30px;
    width: 30px;
    font-size: 30px;
}

.divDGAl{
    height: 40px;
    width: 40px;
    font-size: 35px;
}

.DGAinfo{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 13px;
    border-radius: 3px;
    top:-25px;
    text-align: center;
    width: 150px;
    color: var(--color2);
    font-weight: bold;
}

.DGAinfoAside{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 13px;
    border-radius: 3px;
    top:0px;
    left: 100%;
    text-align: center;
    width: 150px;
    color: var(--color2);
    text-align: left;
}

.divDGA:hover{
    color:var(--color2);
}

.divDGA:hover .DGAinfo{
    display: block;
}

.divDGA:hover .DGAinfoAside{
    display: block;
}

/*-----------------------------general actions buttons-----------------------------*/
.divDGBs{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;    
}

.divDGB{    
    display: flex;
    column-gap: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    cursor: pointer;
    border: black solid 1px;
    background-color: var(--color1);
    padding: 0px 5px;
    font-weight: bold;
}

.divDGBm{
    font-size: 11px;
    height: 25px;

}






/*SPECIFIC*/
#DGAsUsers{
    top: 23%;
    right: 8%;
}

#DGAsCourses{
    top: 23%;
    right: 8%;
}

#DGAsEvents{
    top: 22%;
    right: 6%;
}

#DGBsQuotations{
    top: 6%;
    right: 9%;
}

#DGAsCompanies{
    top: 6.5%;
    right: 38%;
}

#DGAsCopp{
    top: 14%;
    right: 15%;
}

#DGAsStpp{
    top: 10%;
    right: 15%;
}

