

/*----------------top header----------------*/
.topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color1);
    height: 75%;
    padding: 0px 30px;
}

.divCompanyLogo{
    width: 33.33%;
}
.companyLogo{
    height: 60px;
}

.divTitle{
    width: 33.33%;
    text-align: center;
}

.divUserLogged{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 33%;
}

.iconUser{
    font-size: 25px;
    color: var(--color2);
}

.userLogged{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    color: var(--color2);
}

.userLoggedName{
    font-size: 13px;
    display: flex;
    column-gap: 8px;
}
.logout{
    color: var(--color2);
    text-decoration: none;
    font-size: 14px;
}


/*----------------bottom header----------------*/
.bottomHeader{
    display: flex;
    justify-content: center;
    column-gap: 55px;
    height: 25%;
    position: relative;
    background-color:var(--color1);
}

.bottomHeaderBorder{
    border-top: white solid 1px;
}

.itemsMenu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.subItems{
    position: absolute;
    top:100%;
    background-color: white;
    display: none;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.itemHeaderMenu{
    font-size: 15px;
    cursor: pointer;    
}

.refItemHeaderMenu{
    font-weight: bold;
    color: var(--color3);
}

.subitemHeaderMenu{
    font-size: 13px;
    width: 100%;
    text-align: center;
    padding: 7px 0px;
}

.itemHeaderMenu:hover a{
    color:var(--color2);
}

.subitemHeaderMenu:hover{
    font-weight: bold;
    background-color:var(--color5);
}

.selectedItem{
    color: var(--color2);
}
