/*---------------------loader---------------------*/
.loader {
    border: 10px solid var(--color1);
    border-radius: 50%;
    border-top: 10px solid black;
    width: 40px;
    height: 40px;
    animation: spin 3s linear infinite;
    display: none;
    position: absolute;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*------------LOADERS POSITION------------*/
#usersLoader{
    top: 55%;
    left: calc(50vw - 20px);
}

#usersLoader2{
    top: 40%;
    left: calc(50vw - 20px);
    z-index: 1;
}

#loginLoader{
    top: 45%;
    left: calc(50vw - 20px);
    z-index: 1;
}

#coursesLoader{
    top: 45%;
    left: calc(50vw - 20px);
}

#eventsLoader{
    top: 50%;
    left: calc(50vw - 20px);
}

#astppLoader,#cstppLoader,#eventsHistoryLoader{
    top: 50%;
    left: calc(50vw - 30px);
    z-index: 1;
}

#companiesLoader{
    top: 40%;
    left: calc(50vw - 20px);
    z-index: 1;
}

#quotationsLoader,#quotesHistoryLoader{
    top: 40%;
    left: calc(50vw - 55px);
    z-index: 10;
}

#vcppLoader{
    top: 40%;
    left: calc(50vw - 30px);
    z-index: 1;
}
