/*------------POPUPS------------*/


/*Contents*/
#buppContent,#rpppContent{
    top: 35%;
    width: 400px;
    left: calc(50vw - 200px);
}



#ccoppContent{
    top: 20%;
    width: 450px;
    left: calc(50vw - 225px);
}

#ceppContent{
    top: 8%;
    width: 750px;
    left: calc(50vw - 375px);
}

#ceppTitle{
    width: 80%;
    margin: auto;
    color: var(--color2);
}

#crppContent,#creppContent{
    top: 34%;
    width: 400px;
    left: calc(50vw - 210px);
}

#stppContent{
    top: 7%;
    width: 1100px;
    left: calc(50vw - 550px);
    position: relative;
}



#dsppContent,#ssppContent,#ueppContent{
    top: 30%;
    width: 400px;
    left: calc(50vw - 200px);
}

/*---quotationsPopups.ejs---*/
#nqppContent,#sqppContent,#dqppContent,#aqppContent{
    top: 30%;
    width: 400px;
    left: calc(50vw - 200px);
}

#cqppContent{
    top: 13%;
    width: 1200px;
    left: calc(50vw - 600px);
    position: relative;
}

#aeppContent,#alppContent{
    top: 30%;
    width: 600px;
    left: calc(50vw - 300px);
}

#elppContent{
    top: 20%;
    width: 300px;
    left: calc(50vw - 150px);
}

#edppContent{
    top: 30%;
    width: 200px;
    left: calc(50vw - 100px);
}

#uoppContent{
    top: 30%;
    width: 400px;
    left: calc(50vw - 200px);
}


/*-----------------------------------*/
/*------------OK CONTENTS------------*/
#buppOkContent,#rpppOkContent,#euppOkContent,#cuppOkContent,#ccoppOkContent,#ceppOkContent,#creppOkContent,#stppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px);
}

/*---quotationsPopups.ejs---*/
#nqppOkContent,#dqppOkContent,#aqppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 150px);
}

/*-----------------------------------*/
/*------------ERRORS CONTENTS------------*/
#cqppErrorContent{
    width: 450px;
    top: 40%;
    left: calc(50vw - 250px);
}




/*POPUPS*/
/* login.ejs --> fppp, chppp */
/* users.ejs --> cupp, ccpp, vcpp, eupp */
/* events.ejs --> copp, depp */
/* quotations.ejs --> reqpp */

/*-----------------------login.ejs-----------------------*/
/*forgot password popup (fppp)*/
#fpppContent{
    top: 35%;
    width: 450px;
    left: calc(50vw - 235px);
}

#fpppOkContent{
    width: 300px;
    top: 42%;
    left: calc(50vw - 180px);
}

#chpppContent{
    top: 25%;
    width: 450px;
    left: calc(50vw - 235px);
}

#chpppOkContent{
    width: 300px;
    top: 42%;
    left: calc(50vw - 180px);
}


/*-----------------------users.ejs-----------------------*/
/*create user popup (cupp)*/
#cuppContent{
    top: 20%;
    width: 450px;
    left: calc(50vw - 235px);
}

/*create company popup (ccpp)*/
#ccppContent{
    top: 25%;
    width: 350px;
    left: calc(50vw - 185px);
}

#ecppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 180px);
}

/*edit company popup (ecpp)*/
#ecppContent{
    top: 25%;
    width: 350px;
    left: calc(50vw - 185px);
}

#ecppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 180px);
}

/*view companies popup (vcpp)*/
#vcppContent{
    top: 20%;
    width: 650px;
    left: calc(50vw - 335px);
}

/*edit user popup (eupp)*/
#euppContent{
    top: 20%;
    width: 400px;
    left: calc(50vw - 210px);
}

/*block company popup (bcpp)*/
#bcppContent{
    top: 35%;
    width: 400px;
    left: calc(50vw - 210px);
}

#bcppErrorContent{
    width: 450px;
    top: 40%;
    left: calc(50vw - 250px);
}

#bcppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px)
}

/*-----------------------events.ejs-----------------------*/
/*companies popup (copp)*/
#coppContent{
    top: 16%;
    width: 900px;
    left: calc(50vw - 460px)
}

/*delete event popup (depp)*/
#deppContent{
    top: 35%;
    width: 400px;
    left: calc(50vw - 210px)
}

#deppOkContent, #deppErrorContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px)
}

/*request quota popup (rqpp)*/
#rqppContent{
    top: 30%;
    width: 450px;
    left: calc(50vw - 235px);
}

#rqppOkContent, #rqppErrorContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px);
}

/*-----------------------quotations.ejs-----------------------*/
/*refuse quotation popup (reqpp)*/
#reqppContent{
    top: 30%;
    width: 450px;
    left: calc(50vw - 238px);
}

#reqppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px);
}

/*create quotation popup (cqpp)*/
#cqppOkContent{
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px);
}
