/*----------------------usersCreatePopup.ejs------------------------*/
#cuppCreateCompany{
    position: absolute;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    right: -25px;
}

#cuppCreateCompanyInfo{
    position: absolute;
    height: 100%;
    width: 50px;
    font-size: 11px;
    display: none;
    align-items: center;
    right: -60px;
}

#cuppCreateCompany:hover{
    color: var(--color2);
}

#cuppCreateCompany:hover #cuppCreateCompanyInfo{
    display: flex;
}

/*----------------------courses.ejs and nextEvents.ejs----------------------*/
#divCourses{
    margin: auto;
    margin-top: 3vh;
    height: 63vh;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    overflow: auto;

}

#divCourse{
    text-align: center;
    border-radius: 8px;
    border: var(--color1) solid 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    width: 230px;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
}

#courseTitle{
    display: flex;
    font-weight: bold;
    height: 34%;
    align-items: center;
    justify-content: center;
    background-color:var(--color1);
}

#courseNextEvent{
    height: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#courseInfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 25%;
    align-items: center;
    justify-content: center;
    border-top: var(--color1) solid 2px;
    font-size: 13px;
}

#courseActions{
    position: absolute;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    bottom: 5px;
    right: 5px;
}

.courseAction{
    position: relative;
}

.courseAction:hover{
    color:var(--color2)
}

.courseActionInfo{
    font-size: 12px;
    position: absolute;
    display: none;
    bottom: 20px;
    right: -10px;
}

.courseActionInfo2{
    font-size: 12px;
    position: absolute;
    display: none;
    background-color: white;
    border: var(--color1) solid 1px;
    padding: 5px;
    bottom: 22px;
    right: -20px;
    z-index: 1;
}

.courseAction:hover .courseActionInfo{
    display: block;
}

.courseAction:hover .courseActionInfo2{
    display: block;
}

/*----------------------coursesCreatePopup.ejs----------------------*/
.divEventData{
    background-color: var(--color1);
    padding: 10px 20px 20px 20px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.divEventInfo{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.divEventDate{
    padding: 10px;
    background-color: white;
}

.divEventCompanies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: auto;
    column-gap: 5px;
}

.inputTime{
    width: 110px;
    padding: 7px 0px 5px 0px;
}

/*----------------------nextEvents.ejs----------------------*/
#nextEventsMainFilters{
    margin-top: -3px;
}

#nextEventsCheckbox{
    margin-top: 3px;
    margin-bottom: -14px;
}


/*----------------------nextEventsUsersPopups.ejs----------------------*/
#uploadExcel{
    position: absolute;
    right: 10%;
    top: 10%;
    border: black solid 2px;
    font-size: 18px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

#downloadTemplate{
    position: absolute;
    right: 3%;
    top: 5%;
    font-size: 20px;
    cursor: pointer;
}

#uploadExcelIcon,#downloadTemplateIcon{
    font-size: 20px;
    color:black
}

#uploadExcel:hover{
    color:white;
    background-color: black;
}

#uploadExcel:hover #uploadExcelIcon{
    color: white;
}

#uploadExcel:hover #showActionExcel{
    display: block;
}

#downloadTemplate:hover #showActionTemplate{
    display: block;
}

#showActionExcel{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    color: black;
    top:105%;
    text-align: center;
    width: 80px;
}

#showActionTemplate{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    color: var(--color1);
    top:-4%;
    right: 40%;
    text-align: center;
    width: 80px;
}

#stppAddStudent{
    border: black solid 2px;
    padding:    1px 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: -5px;
}

#stppAddStudent:hover{
    background-color: black;
    color: white;
}

#stppTable{
    max-height: 100px;
}