/*----------------------courses.ejs----------------------*/
#divCourses{
    margin: auto;
    margin-top: 3vh;
    height: 63vh;
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

#divCourse{
    text-align: center;
    border-radius: 0px;
    border: var(--color1) solid 2px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    width: 280px;
    height: 180px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 15px;
}

#courseTitle{
    display: flex;
    font-weight: bold;
    height: 35%;
    align-items: center;
    justify-content: center;
    background-color:var(--color1);
    width: 100%;
}

#courseNextEvent{
    height: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#courseInfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 35%;
    align-items: center;
    justify-content: center;
    border-top: var(--color1) solid 2px;
    font-size: 13px;
}

#courseActions{
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    bottom: 5px;
    right: 5px;
}

.courseAction{
    position: relative;
    font-size: 15px;
}

.courseAction2{
    position: relative;
    font-size: 18px;
}

.courseActionInfo1{
    font-size: 12px;
    position: absolute;
    display: none;
    background-color: var(--color1);
    border: var(--color1) solid 1px;
    padding: 5px;
    bottom: 24px;
    right: -10px;
    z-index: 1;
}

.courseActionInfo2{
    font-size: 12px;
    position: absolute;
    display: none;
    background-color: var(--color1);
    border: var(--color1) solid 1px;
    padding: 5px;
    bottom: 25px;
    right: -20px;
    z-index: 1;
}

.courseActionInfo3{
    font-size: 12px;
    position: absolute;
    display: none;
    background-color: var(--color1);
    border: var(--color1) solid 1px;
    padding: 5px;
    bottom: 25px;
    left: -45px;
    z-index: 1;
    color: black;
    width: 100px;
}

.courseAction:hover .courseActionInfo1{
    display: block;
}

.courseAction:hover .courseActionInfo2{
    display: block;
}

.courseAction2:hover .courseActionInfo2{
    display: block;
}



/*----------------------events.ejs----------------------*/
.eventsCheckboxs{
    position: absolute;
    top: 20vh;
    right: 120px;
    padding: 8px;
    border: var(--color1) solid 2px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.eventsCheckbox{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

#divEvents{
    margin: auto;
    margin-top: 30px;
    height: 60vh;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

#divEvent{
    text-align: center;
    border-radius: 0px;
    border: var(--color1) solid 2px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    width: 270px;
    height: 200px;
    position: relative;
    margin-bottom: 15px;    
}

#eventCourseTitle{
    display: flex;
    font-weight: bold;
    height: 35%;
    align-items: center;
    justify-content: center;
    background-color:var(--color1);
}

#eventId{
    height: 11%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#eventData{
    height: 23%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: var(--color1) solid 2px;
}

#eventInfo{
    display: flex;
    column-gap: 10px;
    height: 13%;
    align-items: center;
    justify-content: center;
    border-top: var(--color1) solid 2px;
    font-size: 13px;
}

#eventActions{
    display: flex;
    column-gap: 15px;
    height: 18%;
    align-items: center;
    justify-content: center;
    border-top: var(--color1) solid 2px;
    font-size: 13px;
}

.eventAlert{
    color: var(--errorColor);
    position: absolute;
    right: 7px;
    font-size: 15px;
}

.eventAlert:hover .courseActionInfo3{
    display: block;
}

#onCourse{
    border: var(--color1) solid 1px;
    background-color: var(--color1);
    position: absolute;
    top: 91%;
    left: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;


}



/*----------------------coursesCreatePopup.ejs----------------------*/
.divEventData{
    background-color: var(--color1);
    padding: 10px 20px 20px 20px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.divEventInfo{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.divEventDate{
    padding: 10px;
    background-color: white;
}

.divEventCompanies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: auto;
    column-gap: 5px;
}

.inputTime{
    width: 110px;
    padding: 6px 0px 4px 0px;
}

/*----------------------eventsStudentsPopups.ejs----------------------*/
#uploadExcel{
    position: absolute;
    right: 10%;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    cursor: pointer;
}

#stppUploadExcelIcon{
    font-size: 30px !important;
}

#downloadTemplate{
    position: absolute;
    right: 3%;
    top: 5%;
    font-size: 20px;
    cursor: pointer;
}

#uploadExcelIcon,#downloadTemplateIcon{
    font-size: 20px;
    color:black
}

#uploadExcel:hover #uploadExcelIcon{
    color: var(--color2);
}

#uploadExcel:hover #showActionExcel{
    display: block;
}

#ueppDownloadTemplate{
    position: absolute;
    top:16%;
    left: 70%;
    cursor: pointer;
}

#ueppDownloadTemplate:hover{
    color: var(--color2);
}

#ueppDownloadTemplate:hover #showActionTemplate{
    display: block;
}

#showActionExcel{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 0px;
    color: var(--color2);
    top:105%;
    text-align: center;
    width: 80px;
}

#showActionTemplate{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 0px;
    color: var(--color2);
    top:-30%;
    left: 50%;
    text-align: center;
    width: 80px;
}

#stppAddStudent{
    border: black solid 2px;
    padding:    1px 2px;
    border-radius: 0px;
    cursor: pointer;
    margin-left: -5px;
}

#stppAddStudent:hover{
    background-color: black;
    color: white;
}

#stppTable{
    max-height: 100px;
}

#ueppDivInput{
    border: grey solid 1px;
    padding: 10px 0px;
    text-align: center;
}

