
#rqppQuotaError{
    width: 230px;
}

#cstppText{
    margin: auto;
    width: 900px;
    font-size: 13px;
}

#astppText{
    margin: auto;
    text-align: center;
    width: 700px;
    font-size: 13px;
}

#cstppCheckbox{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    column-gap: 5px;
    align-items: center;
    border: rgb(171, 171, 171) solid 1px;
    padding: 1px 3px;
}

#cstppAcceptCheckbox{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    column-gap: 5px;
    align-items: center;
    border: rgb(171, 171, 171) solid 1px;
    padding: 1px 3px;
    width: fit-content;
    margin: auto;
}

#astppAcceptCheckbox{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    column-gap: 5px;
    align-items: center;
    border: rgb(171, 171, 171) solid 1px;
    padding: 1px 3px;
    width: fit-content;
    margin: auto;
}



#askForQuotaBtn{
    position: absolute;
    top: 180px;
    right: 80px;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    border: black solid 2px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

#askForQuotaBtn:hover{
    background-color: white;
    color:black;
}

.askForQuotaLine{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.askForQuotaWhatsapp{
    font-size: 18px;
    color: green;
}

.askForQuotaEmail{
    font-size: 18px;
}

.askForQuotaPhone{
    color: blue;
    text-decoration: underline;
}

.askForQuotaClose{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    align-items: center;
}