/*----------------------quotations.ejs----------------------*/
.quotationsCheckboxs{
    position: absolute;
    top: 21vh;
    right: 90px;
    padding: 8px;
    border: var(--color1) solid 2px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.quotationCheckbox{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

#divQuotations{
    margin: auto;
    margin-top: 30px;
    height: 60vh;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

#divQuotation{
    text-align: center;
    border-radius: 0px;
    border: var(--color1) solid 2px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 200px;
    position: relative;
    margin-bottom: 15px;    
}

#qCompanyName{
    display: flex;
    font-weight: bold;
    height: 25%;
    align-items: center;
    justify-content: center;
    background-color:var(--color1);
}

#qCourseName{
    height: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

#qEvent{
    height: 11%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: var(--color1) solid 2px;
}

#qEventData{
    height: 11%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#qReservations{
    height: 11%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: var(--color1) solid 2px;
}

#qActions{
    display: flex;
    column-gap: 15px;
    height: 17%;
    align-items: center;
    justify-content: center;
    border-top: var(--color1) solid 2px;
    font-size: 13px;
}

#qStatus{
    border: var(--color1) solid 1px;
    background-color: var(--color1);
    position: absolute;
    top: 91%;
    left: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
}

#qRequiresQuotation{
    position: absolute;
    top: 85%;
    right: 0px;
    font-size: 11px;
    height: 15%;
    width: 95px;
    border-left: var(--color1) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#qSelect{
    position: absolute;
    top: 0%;
    right: 0px;
}

#qQuote{
    padding: 10px 30px;
    color: white;
    position: absolute;
    top: 91%;
    left: 89%;
    text-align: center;
}

.qQuoteEnabled{
    background-color: black;
    border: black solid 2px;    
    cursor: pointer;
}

.qQuoteUnabled{
    background-color: rgb(198, 196, 196);
    border: rgb(198, 196, 196) solid 2px;
}

.qAction{
    position: relative;
    font-size: 15px;
}

.qActionInfo{
    font-size: 12px;
    position: absolute;
    display: none;
    background-color: var(--color1);
    border: var(--color1) solid 1px;
    padding: 5px;
    bottom: 25px;
    right: -50px;
    z-index: 1;
    width: 100px;
}

.qAction:hover .qActionInfo{
    display: block;
}



