<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle mtxl">PORTAL CLIENTES</div>

<div class="customerOptions">
    <a href="https://psi-courses-management.wnpower.host/">
        <div class="customerOption">Administración de cursos</div>
    </a>
    <a href="https://psi-smart-services.wnpower.host/">
        <div class="customerOption">Resultados</div>
    </a>
</div>

