<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/jpg" href="/images/favicon.jpg"/>

    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/generals.css">
    <link rel="stylesheet" href="/css/generalActions.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/loaders.css">
    <link rel="stylesheet" href="/css/popups.css">
    <link rel="stylesheet" href="/css/popupsIds.css">     
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/titles.css">

    <link rel="stylesheet" href="/css/styles/quotations.css">
    <link rel="stylesheet" href="/css/styles/quotesHistory.css">
    <link rel="stylesheet" href="/css/styles/eventsHistory.css">
    <link rel="stylesheet" href="/css/styles/events.css">
    <link rel="stylesheet" href="/css/styles/users.css">
        
    <title><%= title %></title>
</head>
