<!---Users popup--->
<div class="popup" id="stpp">
    
    <div class="popupContent" id="stppContent">

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-regular fa-user"></i></div>
            <div class="popupClose3" id="stppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1 mtm" id="stppMainTitle"></div>
        <div class="popupTitle2 mts" id="stppSubtitle"></div>
        <div class="popupTitle1 mtl">ALUMNOS</div>
        <div class="popupTitle2 mts" id="stppSubtitle2"></div>
                
        <div id="uploadExcel">                
            <i class="fa-regular fa-file-excel" id="uploadExcelIcon"></i>
            <div id="showActionExcel">
                Subir datos desde Excel
            </div>
        </div>

        <div class="divInputsRow mtm">
            <div class="divInput">
                <label class="label1 fwb" id="stppLastNameLabel">Apellido</label>
                <input type="text" class="input1 il ipm" id="stppLastName">                    
            </div>
            <div class="divInput">
                <label class="label1 fwb" id="stppFirstNameLabel">Nombre</label>
                <input type="text" class="input1 il ipm" id="stppFirstName">                    
            </div>
            <div class="divInput">
                <label class="label1 fwb" id="stppEmailLabel">Email</label>
                <input type="text" class="input1 il ipm" id="stppEmail">                    
            </div>
            <div class="divInput">
                <label class="label1 fwb" id="stppDNILabel">DNI</label>
                <input type="number" class="input1 im ipm" id="stppDNI">                    
            </div>
            <div id="stppAddStudent">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>

        <div class="divError" id="stppError"></div>

        <div class="divTable mtm" id="studentsTable">
            <table>
                <thead>
                    <tr>
                        <th class="thCss fsm thl thLeftBorder">Apellido</th>
                        <th class="thCss fsm thl">Nombre</th>
                        <th class="thCss fsm thl">Email</th>
                        <th class="thCss fsm ths">DNI</th>
                        <th class="thCss fsm thxs thRightBorder">
                            <i class="fa-regular fa-trash-can"></i>
                        </th>
                    </tr>
                </thead>
                <tbody id="bodyStudents"></tbody>
            </table>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="stppAccept" class="button1 bm">Guardar</div>
            <div id="stppCancel" class="button1 bm">Cancelar</div>
        </div>

    </div>
</div>

<div class="okPopup" id="stppOk">    
    <div class="okContent" id="stppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="stppOkText">Alumnos asignados con éxito</div>
        </div>
    </div>
</div>

<!----------confirm delete student---------->
<div class="popup" id="dspp">
    
    <div class="popupContent" id="dsppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-trash-can"></i></div>
            <div class="popupClose1" id="dsppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="dsppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="dsppAccept" class="button1 bs">Aceptar</div>
            <div id="dsppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<!----------confirm save data---------->
<div class="popup" id="sspp">
    
    <div class="popupContent" id="ssppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-floppy-disk"></i></div>
            <div class="popupClose1" id="ssppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="ssppQuestion">¿Confirma que desea guardar los datos?</div>       
        
        <div class="divButtonsRow mbs">
            <div id="ssppAccept" class="button1 bs">Aceptar</div>
            <div id="ssppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<!----------upload excel popup---------->
<div class="popup2" id="uepp">
    
    <div class="popupContent" id="ueppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-file-excel"></i></div>
            <div class="popupClose1" id="ueppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div id="ueppDownloadTemplate">                
            <i class="fa-solid fa-download" id="ueppDownloadTemplateIcon"></i>
            <div id="showActionTemplate">
                Descargar template
            </div>
        </div>

        <div class="popupTitle1">SUBIR ARCHIVO</div>
        
        <div id="ueppDivInput" class="mtl">
            <input type="file" id="ueppFile" name="ueppFile">                        
        </div>
        <div id="ueppFileError" class="divError"></div>
        
        <div class="divButtonsRow mtl mbs">
            <div id="ueppAccept" class="button1 bs">Aceptar</div>
            <div id="ueppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<!----------LOADER---------->
<div class="loader" id="studentsLoader"></div>

