<div class="popup" id="copp">
    
    <div class="popupContent" id="coppContent">

        <!------GENERAL ACTIONS------>
        <div class="divDGAs" id="DGAsCopp">
            <div class="divDGA divDGAm" id="coppNewReservation">
                <i class="fa-solid fa-square-plus"></i>
                <div class="DGAinfo">
                    Nueva reserva
                </div>        
            </div>
        </div>

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-industry"></i></div>
            <div class="popupClose2" id="coppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1 mtm" id="coppMainTitle"></div>
        <div class="popupTitle2 mts" id="coppSubtitle"></div>
        <div class="popupTitle1 mtl">RESERVAS POR EMPRESA</div>

        <div class="divTable mtm" id="coppTable">

            <div class="thInfo" id="erppInfo">Editar reserva</div>
            <div class="thInfo" id="crppInfo">Cancelar reserva</div>

            <table>
                <thead>
                    <tr>
                        <th class="thCss fsm thl">Empresa</th>
                        <th class="thCss fsm thm">Reservados</th>
                        <th class="thCss fsm thm">Asignados</th>
                        <th class="thCss fsm thm">Por asignar</th>
                        <th class="thCss fsm thxs">
                            <i class="fa-regular fa-pen-to-square icon" id="erppIcon"></i>
                        </th>
                        <th class="thCss fsm thxs">
                            <i class="fa-regular fa-circle-xmark icon" id="crppIcon"></i>
                        </th>
                    </tr>
                </thead>
                <tbody id="bodyCompanies"></tbody>
            </table>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="coppAccept" class="button1 bm">Guardar</div>
            <div id="coppCancel" class="button1 bm">Cancelar</div>
        </div>

    </div>
</div>

<div class="okPopup" id="coppOk">    
    <div class="okContent" id="coppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="coppOkText">Modificaciones realizadas con éxito</div>
        </div>
    </div>
</div>



<!----------LOADER---------->
<div class="loader" id="companiesLoader"></div>

