<!---administrator students popup (astpp)--->
<div class="popup" id="astpp">

    <div class="popupContent" id="astppContent">

        <!------GENERAL ACTIONS------>
        <div class="divDGAs" id="DGAsStpp">
            <div class="divDGA divDGAxs" id="astppUploadExcelIcon">
                <i class="fa-solid fa-upload"></i>
                <div class="DGAinfo">
                    Subir datos desde excel
                </div>        
            </div>
            <div class="divDGA divDGAxs" id="astppDownloadExcelIcon">
                <i class="fa-solid fa-download"></i>
                <div class="DGAinfo">
                    Descargar datos
                </div>
            </div>
        </div>

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-regular fa-user"></i></div>
            <div class="popupClose3" id="astppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1 mts" id="astppMainTitle"></div>
        <div class="popupTitle2 mts" id="astppSubtitle"></div>
        <div class="popupTitle1 mtm">ALUMNOS</div>
        
        <div class="divInputsRow mtm mbm">
            <div class="divInput">
                <label class="label1" id="astppCompanyLabel">Institución</label>
                <select class="input1 sxxl spm" id="astppCompany"></select>
                <div class="divError" id="astppCompanyError">Debe seleccionar una empresa</div>           
            </div>
        </div>
        
        <div class="popupTitle2 mts" id="astppSubtitle2"></div>

        <div class="divInputsRow mtm">            
            <div class="divInput">
                <label class="label1 fwb" id="astppLastNameLabel">Apellido</label>
                <input type="text" class="input1 im ipm" id="astppLastName" autocomplete="off">
            </div>
            <div class="divInput">
                <label class="label1 fwb" id="astppFirstNameLabel">Nombre</label>
                <input type="text" class="input1 im ipm" id="astppFirstName" autocomplete="off">                    
            </div>            
            <div class="divInput">
                <label class="label1 fwb" id="astppDNILabel">DNI</label>
                <input type="number" class="input1 is ipm" id="astppDNI" autocomplete="off">                    
            </div>
            <div class="divInput">
                <label class="label1 fwb" id="astppARTLabel">ART</label>
                <input type="text" class="input1 il ipm" id="astppART" autocomplete="off">
            </div>
            
            <div id="astppAddStudent" class="stppAddStudent">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>

        <div class="divError" id="astppLastNameError">Debe completar todos los datos</div>
        <div class="divError" id="astppError"></div>

        <div class="divTable mtm" id="studentsTable">
            <table>
                <thead>
                    <tr>
                        <th class="thCss fsm thl">Empresa</th>
                        <th class="thCss fsm thl">Apellido</th>
                        <th class="thCss fsm thl">Nombre</th>
                        <th class="thCss fsm ths">DNI</th>
                        <th class="thCss fsm thl">ART</th>
                        <th class="thCss fsm ths">Apto médico vigente</th>                        
                        <th class="thCss fsm thxs">
                            <i class="fa-regular fa-trash-can"></i>
                        </th>
                    </tr>
                </thead>
                <tbody id="astppBody"></tbody>
            </table>
        </div>

        <div id="astppText" class="mts">
            <div>Al subir y editar alumnos se asume que los mismos poseen el apto médico vigente y que la empresa aceptó los términos y condiciones para inscribir alumnos al curso.</div>
            <div id="astppAcceptCheckbox" class="mtm">
                <input type="checkbox" id="astppAcceptConditions">
                <label >Entendido</label>
            </div>
            <div class="divError" id="astppError2">Debe aceptar las condiciones</div>
        </div>

        <div class="divButtonsRow mtm mbs">
            <div id="astppAccept" class="button1 bm">Guardar</div>
        </div>

    </div>
</div>

<div class="okPopup" id="astppOk">    
    <div class="okContent" id="astppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="astppOkText">Alumnos asignados con éxito</div>
        </div>
    </div>
</div>

<!----------LOADER---------->
<div class="loader" id="astppLoader"></div>