<!---------delete event popup (DEPP)---------->
<div class="popup" id="depp">
    
    <div class="popupContent" id="deppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-circle-question"></i></div>
            <div class="popupClose1" id="deppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="deppQuestion"></div>

        <div class="divButtonsRow mtl mbs">
            <div id="deppAccept" class="button1 bs">Aceptar</div>
            <div id="deppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="deppOk">    
    <div class="okContent" id="deppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="deppOkText">Evento eliminado con éxito</div>
        </div>
    </div>
</div>

<div class="errorPopup" id="deppError">    
    <div class="errorContent" id="deppErrorContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <div class="okText">El evento no se puede eliminar porque posee reservas</div>
        </div>
    </div>
</div>