<!---------no quotation popup---------->
<div class="popup2" id="nqpp">
    
    <div class="popupContent" id="nqppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-circle-question"></i></div>
            <div class="popupClose1" id="nqppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="nqppQuestion"></div>

        <div class="divButtonsRow mtl mbs">
            <div id="nqppAccept" class="button1 bs">Aceptar</div>
            <div id="nqppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="nqppOk">    
    <div class="okContent" id="nqppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Modificaciones realizadas con éxito</div>
        </div>
    </div>
</div>

<!---Create quote popup--->
<div class="popup" id="cqpp">
    
    <div class="popupContent" id="cqppContent">

        <!------GENERAL BUTTONS------>
        <div class="divDGBs" id="DGBsQuotations">
            <div class="divDGB divDGBm" id="cqppAddEvent">
                AGREGAR EVENTO
            </div>
            <div class="divDGB divDGBm" id="cqppNewLine">
                LÍNEA ADICIONAL
            </div>
        </div>

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-solid fa-file-invoice-dollar"></i></div>
            <div class="popupClose3" id="cqppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1 mtm" id="cqppMainTitle"></div>
        <div class="popupTitle1 mts" id="cqppSubtitle"></div>

        <div class="divTable mtm" id="cqppTable">
            <table>
                <thead>
                    <tr>
                        <th class="thCss fsm thxxxxl">Descripción</th>
                        <th class="thCss fsm ths">Cantidad</th>
                        <th class="thCss fsm ths">Precio Unitario</th>
                        <th class="thCss fsm ths">Descuento %</th>
                        <th class="thCss fsm ths">Total</th>
                        <th class="thCss fsm thxs">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </th>
                        <th class="thCss fsm thxs">
                            <i class="fa-regular fa-trash-can"></i>
                        </th>
                    </tr>
                </thead>
                <tbody id="bodyQuotations"></tbody>
            </table>            
        </div>

        <div class="tableData">
            <div class="tableDataLine">
                <div class="lineTitle">Subtotal $:</div>
                <div class="lineData" id="cqppSubtotal"></div>
            </div>
            <div class="tableDataLine">
                <div class="lineTitle">Descuento %:</div>
                <div class="lineData" id="cqppDiscount"></div>
                <div class="lineEdit" id="cqppEditDiscount"><i class="fa-solid fa-pencil"></i></div>
            </div>
            <div class="tableDataLine">
                <div class="lineTitle">Total $:</div>
                <div class="lineData" id="cqppTotal"></div>
            </div>
        </div>

        <div class="divButtonsRow mtxxl mbs">
            <div id="cqppAccept" class="button1 bm">Guardar</div>
            <div id="cqppCancel" class="button1 bm">Enviar</div>
        </div>

    </div>
</div>

<div class="okPopup" id="cqppOk">    
    <div class="okContent" id="cqppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="cqppOkText">Cotización creada con éxito</div>
        </div>
    </div>
</div>

<div class="errorPopup" id="cqppError">    
    <div class="errorContent" id="cqppErrorContent">
        <div class="errorDiv">
            <div class="errorIcon1"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <div class="errorText" id="cqppErrorText">Debe seleccionar reservas de una misma compañía</div>
        </div>
    </div>
</div>

<!---Add event popup--->
<div class="popup2" id="aepp">
    
    <div class="popupContent" id="aeppContent">

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-regular fa-square-plus"></i></div>
            <div class="popupClose3" id="aeppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="divInputsRow mtm">
            <div class="divInput">
                <label class="label1">Evento</label>
                <select class="input1 sxxxxl spm" id="aeppEvent"></select>            
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="aeppAccept" class="button1 bm">Agregar</div>
            <div id="aeppCancel" class="button1 bm">Cancelar</div>
        </div>

    </div>
</div>

<!---Add line popup--->
<div class="popup2" id="alpp">
    
    <div class="popupContent" id="alppContent">

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-regular fa-square-plus"></i></div>
            <div class="popupClose3" id="alppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="divInputsRow mtm">
            <div class="divInput">
                <label class="label1">Descripción</label>
                <input type="text" class="input1 ixxxxl spm" id="alppDescription">    
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="alppAccept" class="button1 bm">Agregar</div>
            <div id="alppCancel" class="button1 bm">Cancelar</div>
        </div>

    </div>
</div>

<!---Edit discount popup--->
<div class="popup2" id="edpp">
    
    <div class="popupContent" id="edppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="edppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="divInputsRow mtm">
            <div class="divInput">
                <label class="label1">Descuento %</label>
                <input type="text" class="input1 im spm" id="edppDiscount">    
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="edppAccept" class="button1 bs">Aceptar</div>
            <div id="edppCancel" class="button1 bs">Cancelar</div>
        </div>

    </div>
</div>

<!---Edit line popup--->
<div class="popup2" id="elpp">
    
    <div class="popupContent" id="elppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="elppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupSubtitle1 mtm" id="elppTitle"></div>

        <div class="divInputsColumn mtm">
            <div class="divInput mtm">
                <label class="label2">Cantidad</label>
                <input type="number" class="input1 im spm" id="elppQuantity">    
            </div>
            <div class="divInput mtm">
                <label class="label2">Precio unitario</label>
                <input type="number" step="any" class="input1 im spm" id="elppPrice">    
            </div>
            <div class="divInput mtm">
                <label class="label2">Descuento %</label>
                <input type="number" step="any" class="input1 im spm" id="elppDiscount">    
            </div>
            <div class="divInput mtm">
                <label class="label2">Total</label>
                <input type="number" step="any" class="input1 im spm" id="elppTotal">    
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="elppAccept" class="button1 bs">Agregar</div>
            <div id="elppCancel" class="button1 bs">Cancelar</div>
        </div>

    </div>
</div>