<!----------Edit company popup---------->
<div class="popup2" id="ecpp">

    <div class="popupContent" id="ecppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-square-plus"></i></div>
            <div class="popupClose1" id="ecppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1" id="ecppTitle">EDITAR EMPRESA</div>       
        
        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label3" id="ecppCompanyLabel">Nombre de la empresa</label>
                <input type="text" class="input1 ixl ipl" id="ecppCompany" autocomplete="off">
                <div class="divError" id="ecppCompanyError">Debe completar el nombre de la empresa</div>
                <div class="divError" id="ecppCompanyExistingError">La empresa seleccionada ya existe</div>
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="ecppAccept" class="button1 bs">Guardar</div>
            <div id="ecppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>
