<!----------Edit user popup---------->
<div class="popup" id="eupp">
    
    <div class="popupContent" id="euppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="euppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1" id="euppTitle">EDITAR USUARIO</div>       
        
        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label2 unabledLabel">Institución</label>
                <input type="text" class="input1 il ipl unabledInput" id="euppCompany" readonly>
            </div>
            <div class="divInput mtm">
                <label class="label2">Perfil</label>
                <select class="input1 sl spl" id="euppCategory">
                </select>
            </div>
            <div class="divInput mtm">
                <label class="label2" id="euppLastNameLabel">Apellido</label>
                <input type="text" class="input1 il spl" id="euppLastName">
                <div class="divError" id="euppLastNameError">Debe completar el apellido</div>
            </div>
            <div class="divInput mtm">
                <label class="label2" id="euppFirstNameLabel">Nombre</label>
                <input type="text" class="input1 il spl" id="euppFirstName">
                <div class="divError" id="euppFirstNameError">Debe completar el nombre</div>
            </div>            
            <div class="divInput mtm">
                <label class="label2 unabledLabel">Email</label>
                <input type="text" class="input1 il spl unabledInput" id="euppEmail" readonly>
            </div>
            

        </div>

        <div class="divButtonsRow mbs">
            <div id="euppAccept" class="button1 bs">Guardar</div>
            <div id="euppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="euppOk">    
    <div class="okContent" id="euppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Datos guardados con éxito</div>
        </div>
    </div>
</div>