<!----------Create user popup---------->
<form action="/users/create-user" method="POST">
    <div class="popup" id="cupp">
    
        <div class="popupContent" id="cuppContent">
    
            <div class="popupIcons">
                <div class="popupIcon1"><i class="fa-solid fa-user-plus"></i></div>
                <div class="popupClose1" id="cuppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
            </div>
    
            <div class="popupTitle1" id="cuppTitle">CREAR USUARIO</div>       
            
            <div class="divInputsColumn mtl mbl">
                <div class="divInput">
                    <label class="label2" id="cuppCompanyLabel">Empresa</label>
                    <select class="input1 sl ipm" name="cuppCompany" id="cuppCompany">
                        <option value=""></option>
                        <% companies.forEach(company => { %>
                            <option value="<%= company.id %>">
                                <%= company.company_name %>
                            </option>
                        <% }) %>
                    </select>
                    <div id="cuppCreateCompany">
                        <i class="fa-regular fa-square-plus icon"></i>
                        <div id="cuppCreateCompanyInfo">Crear empresa</div>
                    </div>
                    <div class="divError" id="cuppCompanyError">Debe seleccionar una empresa</div>
                </div>

                <div class="divInput mtm">
                    <label class="label2" id="cuppCategoryLabel">Perfil</label>
                    <select class="input1 sl ipm" name="cuppCategory" id="cuppCategory">
                        <option value=""></option>
                    </select>
                    <div class="divError" id="cuppCategoryError">Debe seleccionar un perfil</div>
                </div>
                <div class="divInput mtm">
                    <label class="label2" id="cuppLastNameLabel">Apellido</label>
                    <input type="text" class="input1 il ipm" name="cuppLastName" id="cuppLastName">
                    <div class="divError" id="cuppLastNameError">Debe completar el apellido</div>
                </div>
                <div class="divInput mtm">
                    <label class="label2" id="cuppFirstNameLabel">Nombre</label>
                    <input type="text" class="input1 il ipm" name="cuppFirstName" id="cuppFirstName">
                    <div class="divError" id="cuppFirstNameError">Debe completar el nombre</div>
                </div>            
                <div class="divInput mtm">
                    <label class="label2" id="cuppEmailLabel">Email</label>
                    <input type="text" class="input1 il ipm" name="cuppEmail" id="cuppEmail">
                    <div class="divError" id="cuppEmailError">Email inválido</div>
                    <div class="divError" id="cuppEmailExistingError"></div>
                </div>
            </div>
    
            <div class="divButtonsRow mbs">
                <button type="submit" class="button1 bs" id="cuppAccept">Guardar</button>
                <div id="cuppCancel" class="button1 bs">Cancelar</div>
            </div>
        </div>
    </div>
</form>

<!----------Create user OK---------->
<div class="okPopup" id="cuppOk">    
    <div class="okContent" id="cuppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Usuario creado con éxito</div>
        </div>
    </div>
</div>

