<!----------Block user popup---------->
<div class="popup" id="bupp">
    
    <div class="popupContent" id="buppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-ban"></i></div>
            <div class="popupClose1" id="buppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="buppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="buppAccept" class="button1 bs">Aceptar</div>
            <div id="buppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="buppOk">    
    <div class="okContent" id="buppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Usuario dado de baja con éxito</div>
        </div>
    </div>
</div>

<!----------Block company popup---------->
<div class="popup" id="bcpp">
    
    <div class="popupContent" id="bcppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-ban"></i></div>
            <div class="popupClose1" id="bcppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupText mtm" id="bcppText"></div>
        <div class="popupQuestion">¿Desea avanzar?</div>          
        
        <div class="divButtonsRow mbs">
            <div id="bcppAccept" class="button1 bs">Aceptar</div>
            <div id="bcppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="bcppOk">    
    <div class="okContent" id="bcppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Compañía dada de baja con éxito</div>
        </div>
    </div>
</div>

<div class="errorPopup" id="bcppError">    
    <div class="errorContent" id="bcppErrorContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <div class="okText">La compañía no se puede dar de baja porque posee reservas pendientes.</div>
        </div>
    </div>
</div>

<!----------Restore password popup---------->
<div class="popup" id="rppp">
    
    <div class="popupContent" id="rpppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-unlock-keyhole"></i></div>
            <div class="popupClose1" id="rpppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupQuestion" id="rpppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="rpppAccept" class="button1 bs">Aceptar</div>
            <div id="rpppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="rpppOk">    
    <div class="okContent" id="rpppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Constraseña restablecida con éxito</div>
        </div>
    </div>
</div>

